.Container {
  align-items: center;
  background-color: greenyellow;
}

.Contents {
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  border: solid;
  background-color: hotpink;
}

.checkbox {
  align-items: center;
  background-color: white;
}

.datetime {
  align-items: center;
  background-color: black;
}

.input_number {
  align-items: center;
  background-color: blue;
}

.meta {
  align-items: center;
  background-color: aqua;
}
